{% extends 'base.html' %}

{% block title %}
    List Projects
{% endblock title %}
{% block extra_nav %}
{% endblock extra_nav %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}">Create Project</a>
            {% if all_projects.all|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pjs in all_projects.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' pjs.id %}">{{ pjs.name }}</a>
                                </td>
                                <td>{{ pjs.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
